:root {
	--yell: #f3f5c8;
	--red: #f5c8c8;
	--white: #ffffff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	/* 1rem = 10px */
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
	color: #091337;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #091337;
}

.hero {
	text-align: center;
	background-color: #c8f5ed;
	padding: 2rem 0;
}

.app-heading {
	font-size: 6rem;
}

.app-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 4rem 0;
}

input[type='text'] {
	width: 35rem;
	height: 3rem;
	padding: 0 1rem;
	border: 1px solid rgb(208, 207, 207);
	border-radius: 4px;
}

input[type='text']:focus {
	background-color: #c8f5ed;
}

.btn-submit {
	height: 3rem;
	padding: 0 1rem;
	border: 1px solid rgb(208, 207, 207);
	border-radius: 4px;
	background-color: #c8f5ed;
}

.action-elements {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 4rem 0;
}

.btn-action {
	height: 3rem;
	padding: 0 1rem;
	border: 1px solid rgb(208, 207, 207);
	border-radius: 4px;
	font-weight: bold;
}

.ui-yell {
	background-color: var(--yell);
}

.ui-red {
	background-color: var(--red);
}

.todo-group {
	width: 80%;
	margin: 0 auto;
}

.todo-collection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card {
	background-color: #c8f5ed;
	height: fit-content;
	border-radius: 10px;
	border: 1px solid #dfdbdb;
	padding: 1rem;
	margin: 0 5px;
	display: flex;
	flex-direction: column;
}

.btn {
	height: 3rem;
	padding: 0 1rem;
	border: 1px solid rgb(208, 207, 207);
	border-radius: 4px;
	font-weight: bold;
	margin: 5px 0;
}

.btn-edit {
	background-color: rgb(250, 212, 142);
}

.btn-delete {
	background-color: rgb(250, 126, 126);
	color: #fff;
}
